<!doctype html>
<html>
<head>
	<title>Dialog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="styles.css">
	<script src="jquery.js" defer></script>
	<script src="script.js" defer></script>
</head>
<body>
	<header>
		<div class="title">
			Dialog / <span>Casual Room</span>
		</div>
		<div class="login">
			<p>Logged in as <span><%= name %></span>.</p> <a href="logout">Log out?</a>
		</div>
	</header>
	<nav>
		<div class="room-selected">Casual Room</div>
		<div id="rooms">
			<% rooms.forEach(val => { %>
			<div class="room" data-id="<%= val.id %>"><%= val.name %></div>
			<% }) %>
		</div>
	</nav>
	<div id="messages">
		<div class="wait">
			Messages are being retrieved from the database.<br>
			Please wait...
		</div>
	</div>
	<div id="composer">
		<div id="online">
			Checking for online users...
		</div>
		<textarea id="content" placeholder="Send a message..." autofocus></textarea>
		<button id="send">Send</button>
	</div>
	<footer>
		© Simon Janda 2020
	</footer>
</body>
</html>