<!doctype html>
<html>
<head>
	<title>Dialog - Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="styles.css">
	<style>
		body {
			max-width: 480px;
		}
	</style>
</head>
<body>
	<header>
		<div class="title">
			Dialog / <span>Log In</span>
		</div>
		<div class="login">
			<a href="/signup">Sign Up?</a>
		</div>
	</header>
	<form action="/api/login" method="post">
		<label>Email</label>
		<input class="error" type="text" name="email" placeholder="Your email..." autofocus>
		<p class="error-desc">This email is already taken...</p>
		<label>Password</label>
		<input type="password" name="password" placeholder="Your password...">
		<input type="submit" value="Log In">
	</form>
</body>
</html>