<!doctype html>
<html>
<head>
	<title>Dialog - Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="styles.css">
	<style>
		body {
			max-width: 480px;
		}
	</style>
</head>
<body>
	<header>
		<div class="title">
			Dialog / <span>Sign Up</span>
		</div>
		<div class="login">
			<a href="/login">Log In?</a>
		</div>
	</header>
	<form action="/api/signup" method="post">
		<label>Name</label>
		<input type="text" name="name" placeholder="Your name..." autofocus>
		<label>Email</label>
		<input type="text" name="email" placeholder="Your email...">
		<label>Password</label>
		<input type="password" name="password" placeholder="Your password...">
		<label>Confirm Password</label>
		<input type="password" name="passwordAgain" placeholder="Your password again...">
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>