@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('Inter.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	border-radius: 0;
	font-family: 'Inter';
}

html {
	background-color: rgba(240, 240, 240, 1);
}

body {
	max-width: 720px;
	font-size: 1rem;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: 0 32px;
}

header {
	height: 100px;
}

nav {
	max-width: 360px;
	margin: auto;
	text-align: center;
}

footer {
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, .2);
	font-size: .75rem;
	margin: 0 32px;
	height: 50px;
}

a {
	transition: all .2s ease;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

a:hover {
	transition: all .2s ease;
	padding-bottom: 4px;
	border-color: rgba(0, 0, 0, .8);
}

.title {
	color: rgba(0, 0, 0, .2);
}

.login {
	color: rgba(0, 0, 0, .2);
	text-align: right;
}

.login p {
	display: inline;
}

.title span, .login span {
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
}

#messages {
	transition: all ease .2;
	margin: 16px 32px 0;
}

#online {
	color: rgba(0, 0, 0, .3);
	font-size: .75rem;
	padding: 8px;
	background-color: rgba(0, 0, 0, .025);
}

#online::before {
	content: '•';
	margin-right: 8px;
	color: rgba(50, 200, 50, 1);
}

.message {
	padding: 16px 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.message .meta {
	font-weight: 500;
	margin-bottom: 4px;
}

.message .meta span {
	font-weight: normal;
	color: rgba(0, 0, 0, .2);
	float: right;
}

#composer {
	margin: 0 32px;
}

textarea {
	background-color: rgba(0, 0, 0, .075);
	padding: 16px;
	font-size: 1rem;
	border: none;
	width: calc(100% - 32px);
	color: rgba(0, 0, 0, .6);
	resize: vertical;
}

textarea:focus {
	outline: none;
	background-color: rgba(0, 0, 0, .1);
}

button, input[type=submit] {
	margin-top: 16px;
	border: 1px solid rgba(0, 0, 0, 1);
	background-color: rgba(0, 0, 0, 0);
	font-size: 1rem;
	padding: 12px;
	width: 100%;
}

button:hover, input[type=submit]:hover {
	background-color: rgba(0, 0, 0, 1);
	color: rgba(240, 240, 240, 1);
	cursor: pointer;
}

button:active {
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
}



.room-selected {
	font-weight: 500;
}

.room-selected:after {
	content: url('arrow.svg');
	margin-left: 4px;
	opacity: .3;
}

#rooms {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 360px;
	padding: 8px 0;
	margin: 4px auto;
	background-color: rgba(0, 0, 0, .05);
	/* box-shadow: 0 8px 16px rgba(0, 0, 0, .1); */
	font-weight: 500;
	color: rgba(0, 0, 0, .2);
	animation: .15s linear 0 1 running roompicker;
}

@keyframes roompicker {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

nav:hover #rooms {
	display: flex;
}

nav:hover .room-selected:after {
	opacity: .6;
}

#rooms .room {
	padding: 2px;
	width: 100%;
}

#rooms .room:hover {
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

.wait {
	width: calc(100% - 32px);
	color: rgba(0, 0, 0, .3);
	background-color: rgba(0, 0, 0, .05);
	text-align: center;
	padding: 16px;
	margin: 8px 0 32px;
	animation: .6s linear 0 infinite alternate flash;
}

@keyframes flash {
	from {
		background-color: rgba(0, 0, 0, .05);
	}

	to {
		background-color: rgba(0, 0, 0, 0);
	}
}

/* Login Page */

form {
	margin: 0 32px;
}

input {
	background-color: rgba(0, 0, 0, .075);
	border: none;
	font-size: 1rem;
	padding: 16px;
	width: calc(100% - 32px);
	-webkit-appearance: none;
	border-radius: 0;
}

input:focus {
	outline: none;
	background-color: rgba(0, 0, 0, .1);
}

.error {
	border: 1.5px solid rgba(200, 50, 50, 1);
	color: rgba(200, 50, 50, 1);
}

.error-desc {
	color: rgba(200, 50, 50, 1);
	font-weight: 500;
	font-size: .75rem;
	margin-top: 4px;
}

label {
	display: block;
	margin: 16px 0 8px;
}

input[type=submit] {
	margin-top: 32px;
}

@media only screen and (max-width: 600px) {
	.login >:not(a) {
		display: none;
	}
}